.idea
**/.DS_Store
**/*.pyc
conf/conf.iml
deploy
dependent_pkg/**
!dependent_pkg/download.sh
lib/*
!lib/README
!lib/SAML_MD_SCHEMA
PolicyManager/PolicyManager.iml
PolicyManager/bin/setConfig.sh
PolicyManager/bin/setEnv.sh
!PolicyManager/bin/setConfig.sh.default
!PolicyManager/bin/setEnv.sh.default
PolicyManager/doc/PEPtest03matrix.numbers
PolicyManager/src/localconfig.py
PolicyManager/tests/testdata/signxml_ca/cadir/
worklog.txt
