cffi>=1.2.1
Cython>=0.23.4
GitPython>=1.0.1
lxml
pyOpenSSL>=0.15.1
requests
# numpy required for javabridge
numpy
# javabridge only required if pyjnius is not used (PYJNIUS_ACTIVATE not set -> fallback)
javabridge
#json2html 1.0.1 had to be forked (py3 problems)
#signxml
